header {
  width: 1440px;
  height: 72px;
  background-color: #e7e9fc;
}

.title {
  font-family: raleway;
  text-decoration: none;
  font-weight: 700;
  font-size: 18px;
  color: #2e2f42;
  line-height: 21px;
  .span-title{color: #000;}
}

.title:hover {
  color: rgb(0, 4, 255);
}

nav a {
  font-family: roboto;
  text-decoration: none;
  color: #2e2f42;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
}

nav li {
  list-style-type: none;
  display: inline;
}
nav a:hover {
  color: rgb(0, 4, 255);
}

address a {
  color: #2e2f42;
  font-family: roboto;
  text-decoration: none;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 2%;
}

address a:hover {
  color: rgb(0, 4, 255);
}
.body {
  font-family: roboto, sans-serif;
  line-height: 10px;
}
.section1 {
  width: 1440px;
  height: 600px;
  top: 72px;
  text-align: center;
  background-color: #2e2f42;
}

.section1 h1 {
  color: #fff;
  font-weight: 700;
  font-size: 56px;
  line-height: 6em;
  letter-spacing: 2%;
}

.section1 button {
  background-color: #4d5ae5;
  width: 169px;
  height: 56px;
  font-weight: 500;
  font-size: 16px;
  line-height: 2.4em;
  color: #fff;
  cursor: pointer;
}

.section1 button:hover {
  color: red;
  background-color: #fff;
}

.section2 {
  width: 1440px;
  height: 200px;
  text-align: left;
}

.section2 li {
  list-style-type: none;
  float: left;
  width: 264px;
  height: 104px;
  top: 792px;
  left: 156px;
  gap: 8px;
}
.section2 ul li p {
  width: 264px;
  height: 104px;
  font-weight: 400;
  color: #434455;
  font-size: 16px;
  line-height: 2.4em;
}
.subtitle {
  width: 264px;
  height: 24px;
  font-weight: 500;
  font-size: 20px;
  line-height: 2.4em;
  color:#2E2F42;
  top: 792px;
  left: 156px;
  gap: 8px;
}

.section3 {
  width: 1440px;
  height: 732px;
  top: 1016px;
}

.section3 h2 {
  font-size: 36px;
  font-weight: 700;
  line-height: 4em;
  letter-spacing: 0.02em;
  text-align: center;
  color: #2e2f42;
}

.section3 ul {
  list-style: none outside none;
  background-color: #f4f4fd;
}
.section3 ul li {
  position: relative;
  float: left;
  margin: 20px;
}
.section3 ul li h4 {
  text-align: center;
  font-size: 20px;
  font-weight: 500;
  line-height: 2.4em;
  letter-spacing: 0.02em;
  color: #2E2F42;
}
.section3 ul li p {
  font-size: 16px;
  font-weight: 400;
  line-height: 2.4em;
  letter-spacing: 0.02em;
  text-align: center;
  color: #434455;
}

.section4 {
  width: 1128px;
  height: 1000px;
  top: 1868px;
  left: 156px;
  gap: 0px;
  border: 1px 0px 0px 0px;
  opacity: 0px;

  margin: auto;
}

.section4 h2 {
  font-size: 36px;
  font-weight: 700;
  line-height: 4em;
  letter-spacing: 0.02em;
  text-align: center;
  color: #2E2F42;
}

.ul1 {
  list-style: none outside none;
  background-color: #f4f4fd;
}
.ul1 li {
  position: relative;
  float: left;
}
.ul2 {
  list-style: none outside none;
  background-color: #f4f4fd;
}
.ul2 li {
  position: relative;
  float: left;
}

.ul1 h4 {
  font-size: 20px;
  font-weight: 500;
  line-height: 2.4em;
  letter-spacing: 0.02em;
  text-align: left;
  color: #2E2F42;
}
.ul2 h4 {
  font-size: 20px;
  font-weight: 500;
  line-height: 2.4em;
  letter-spacing: 0.02em;
  text-align: left;
  color: #2E2F42;
}

.ul1 p {
  color: #434455;

  font-size: 16px;
  font-weight: 400;
  line-height: 2.4em;
  letter-spacing: 0.02em;
  text-align: left;
}

.ul2 p {
  color: #434455;

  font-size: 16px;
  font-weight: 400;
  line-height: 2.4em;
  letter-spacing: 0.02em;
  text-align: left;
}
footer {
  background-color: #2e2f42;
  width: 1440px;
  height: 312px;
  top: 2988px;
  gap: 0px;
  opacity: 0px;
}

.footer {
  font-family: raleway;
  text-decoration: none;
  font-weight: 700;
  font-size: 18px;
  color: white;
  .span1{
    color: #5c4de5;
  }
}

.footer:hover {
  .span1{color: rgb(255, 0, 0);}
  color: rgb(255, 0, 0);
}

footer h5 {
  width: 264px;
  height: 72px;
  top: 3128px;
  left: 156px;
  gap: 0px;
  opacity: 0px;

  font-size: 16px;
  font-weight: 400;
  line-height: 2.4em;
  letter-spacing: 0.02em;
  text-align: left;
  color: #f4f4fd;
}
